body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 70px;
    font-weight: 700;
    color: rgb(94, 92, 92);
}
p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    margin-bottom: 50px;

}

section{
    display: flex;
}

.half-width{
    width: 50%;
    margin: auto;
    padding: 5%;
}

.orange-clr{
    color: orange;
}

.btn{
    text-decoration: none;
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, orange , tomato);
    box-shadow: 1px 2px 15px rgba(255, 166, 0, 0.705);  
}
.female-standing{
    width: 65%;
    padding-left: 5%;
}
.second-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 0px 150px;
}